<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thùng rác</title>
</head>
<body>
    {{>nav}}
    {{#if products}}
    <table class="table mx-auto manage-table">
        <col style = "width: 5%">
        <col style = "width: 20%">
        <col style = "width: 20%">
        <col style = "width: 25%">
        <col style = "width: 10%">
        <col style = "width: 20%">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Loại</th>
                <th scope="col">Thể loại</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Màu</th>
            </tr>
        </thead>
        <tbody>
            
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.category}}</td>
                <td>{{this.type}}</td>
                <td>{{this.name}}</td>
                <td>{{this.color}}</td>
                <td class = "link-td d-flex">
                    <a href="garbage/{{this._id}}/restore" class = "edit-link text-primary linkE">Khôi phục</a>
                    <div style = "cursor: pointer" data-id = "{{this._id}}" class = "delete-permanently-link text-primary linkE">Xóa vĩnh viễn</div>
                </td>
            </tr>
            {{/each}}
  </tbody>
</table>
{{else}}
<p style = "text-align: center; margin-top: 20px;">Thùng rác rỗng</p>
{{/if}}
<form method="POST" class = "deletePermanently-form"></form>
<a href = "manage" class = "back-to-manage garbage-link">Quay lại quản lý sản phẩm</a>
<div class="alert-modal modals">
    <div class="alert-table table-modal mx-auto">
        <div class="alert-title title-modal">
            Cảnh báo
        </div>
        <hr>
        <div class="alert-body body-alert-modal">
            Sau khi xóa vĩnh viễn, không thể phục hồi được sản phẩm
        </div>
        <hr>
        <div class="alert-button button-alert-modal">
            <button class = "btn btn-primary cancel-delete">
                Hủy
            </button>
            <button class = "btn btn-danger deletePermanently-button">
                Xóa
            </button>
        </div>
    </div>
</div>
</body>
</html>