<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý sản phẩm</title>
</head>
<body>
    {{>nav}}
    <h3 class = "mb-3 mt-3" style = "margin-left: 40px">
        Quản lý sản phẩm
    </h3>
    <table class="table mx-auto manage-table">
        <col style = "width: 10%">
        <col style = "width: 20%">
        <col style = "width: 20%">
        <col style = "width: 25%">
        <col style = "width: 10%">
        <col style = "width: 15%">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Loại</th>
                <th scope="col">Thể loại</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Màu</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.category}}</td>
                <td>{{this.type}}</td>
                <td>{{this.name}}</td>
                <td>{{this.color}}</td>
                <td class = "link-td">
                    <a href="manage/{{this._id}}/edit" class = "edit-link text-primary linkE">Sửa</a>
                    <a href="" class = "delete-link text-primary linkE">Xóa</a>
                </td>
            </tr>
            {{/each}}
  </tbody>
</table>
</body>
</html>